@import "tailwindcss";

@theme {
    --color-light-blue: rgb(41, 192, 190);
    --color-dark-blue: rgb(2, 81, 92);
    /* 29C0BE 02515C */
    --color-netural-white: rgb(234, 234, 234);
    --color-netural-black: rgb(46, 46, 46);
    --spacing-section-padding-y: 200px 0px;
    --spacing-section-padding-x: 0px 40px;
    --spacing-section-padding-yx: 14vh 40px;

}

html {
    scroll-behavior: smooth;
}